<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/fontes.css')}}">
</head>
<body>
    <h1>Alex Cobra</h1>
    <h2>Ele vai dar o troco</h2>
    <img src="{{url_for('static', filename='img/cobranegra.png')}}" alt="Imagem de uma cobra negra">
    
</body>
</html>